.app-header .navigation {
    display: flex;
    justify-content:space-around;
}

.navigation a {
    width: 100%;
    padding: 10px;
    background-color: #999;
    color: white;
    text-align: center;
    margin: 2px;
    text-decoration: none;
}

.app-header nav a:hover {
    background-color: #888;
}

.active {
    background-color: rgb(135, 175, 200) !important;
}

.navigation_category ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navigation_category ul a {
    width: 100%;
    padding: 10px;
    background-color: rgb(223, 218, 218);
    color: black;
    text-align: center;
    margin: 2px;
    text-decoration: none;
}